@page "/"
@using MudBlazor
@using TimeClock.Client
using System.Diagnostics;


<PageTitle>Home</PageTitle>

<h1>@DisplayNextPunchStatus</h1>

<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.AlarmAdd" OnClick="PunchIn">Punch In</MudButton>
<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.AlarmOff" OnClick="PunchOut" Disabled="@punchIn">Punch Out</MudButton>
<MudText Typo="@Typo.h4">Hours Type:</MudText>
<MudSelect @bind-Value="@punchType"> 
    @foreach (HourType hourType in Enum.GetValues(typeof(HourType)))
    {
        <MudSelectItem Value="@hourType">@GetPunchTypeDisplayString(hourType)</MudSelectItem>
    }
</MudSelect>

<MudText Typo="Typo.h1">Hours Worked Today:</MudText>

<MudText Typo="@Typo.h3">Tech lead Hours</MudText>
<MudText Typo="@Typo.body1">@techLeadHoursTotal</MudText>
<MudText Typo="@Typo.h3">Regular Hours</MudText>
<MudText Typo="@Typo.body1">@regularHoursTotal</MudText>


@code {


        [Inject] public TimePunchClient timePunchClient {get;set;} = null!;
    
        private string DisplayNextPunchStatus => $"Please Punch {(punchIn ? "in" : "out")} last Punch time: {lastPunch}";

        private string PunchButtonText => punchIn ? "Punch in" : "Punch Out";
        private bool punchIn => lastPunch.PunchOut != null;
        private HourType punchType;
        private PunchRecord lastPunch = null!;
        private string techLeadHoursTotal = "0:00";
        private string regularHoursTotal = "0:00";

        protected override async Task OnInitializedAsync()
        {
            lastPunch = await timePunchClient.GetLastPunch();
        }

        private string GetLastPunchTimeString() => (lastPunch.PunchOut ?? lastPunch.PunchIn).ToString("MM:dd hh:mm tt");

        private string GetPunchTypeDisplayString(HourType type) => 
            type switch {
                HourType.Regular => "Regular Hours",
                HourType.TechLead => "Tech Lead Hours",
                _ => "Unknown type"
            };

        private async Task PunchIn(){
            lastPunch = await timePunchClient.Punch(punchType, PunchType.PunchIn);
            StateHasChanged();
        }
        private async Task PunchOut(){
            lastPunch = await timePunchClient.Punch(punchType, PunchType.PunchOut);
            StateHasChanged();
        }
}


using Microsoft.VisualBasic;
#line default
